.container-number{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #E2E9F0;
    border-radius: 30px;
    max-width: 92px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container-number:hover{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #E2E9F0;
    border-radius: 30px;
    max-width: 92px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.number-button1{
    font-size: 20px;
    border: none;
    background: none;
}
.number-button2{
    font-size: 20px;
    border: none;
    background: none;
}
.text-button-number{
    margin: 0px;
}